name: Publish-Expo-RSA-Generator

on:
  push:
    branches:
      - main

concurrency: ${{github.workflow}}-${{github.ref}}
permissions: {}

jobs:
  release:
    if: github.repository == 'Leo5661/expo-rsa-generator'
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Create Release Pull Request and Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: bun run pub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
# - name: Send a Slack notification if a publish happens
# if: steps.changesets.outputs.published == 'true'
# # You can do something when a publish happens.
# run: my-slack-bot send-notification --message "A new version of ${GITHUB_REPOSITORY} was published!"
